
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Navigation bar</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div class="box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="#">Study Source</a>
          </div>
          <nav>
            <a href="#">Roadmap</a>
            <a href="#">About us</a>
            <a href="#">Tree</a>
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
          </nav>
        </div>
      </header>
      <div class="banner-area">
        <center>
  <h1> logic design</h1>
  <table>
    <tr>
      <td width="40%" border="1"> <p>A logic gate is an idealized model of computation or a physical electronic device implementing a Boolean function, a logical operation performed on one or more binary inputs that produces a single binary output. </p></td>
     <td>
       <h1> videos</h1><iframe id="ytplayer" type="text/html" width="100%" height="405"
src="https://www.youtube.com/embed/?listType=playlist&list=PLAwv14VhKVabiV420DERMddTzzFiivcTb"
frameborder="0" allowfullscreen></iframe></td>
    </tr>
  </table>
</center>
      </div>
      <div class="content-area">
        <div class="wrapper">
          <h2>About Study Source</h2>
          <p>
            This is project is used to help the students who were affected by
            the COVID situation and who are getting affected everyday by not
            studying
          </p>
          <a href="#">GMAIL</a>
          <a href="#">LINKEDIN</a>
          <a href="#">MOBILE</a>
        </div>
      </div>
    </div>
  </body>