<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="signin.css" />
    <title>Study Source</title>
  </head>
  <body>
    <div class="all">
      <div class="sign_up_form">
        <!-- <img src="usericon.png.jpeg" alt="User Icon" /> -->
        <h1>Sign In</h1>
        <form>
          <input
            type="email"
            class="input_box"
            placeholder="Enter your email"
          />
          <input
            type="password"
            class="input_box"
            placeholder="Enter your password"
          />

          <button type="submit" class="signup_button">Sign in</button>
          <hr />
          <p class="or">OR</p>
          <button type="button" class="gmailbutton">Sign in with GMAIL</button>
          <p>Didn't has an account? <a href="signup.html">Sign up</a></p>
        </form>
      </div>
    </div>
  </body>
</html>
