<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Navigation bar</title>
    <link rel="stylesheet" href="{% static 'gradproj/style.css' %}"  />
    <link rel="stylesheet" href="{% static 'gradproj/about-us-css.css' %}" >
  </head>

  <body>
    <div class="box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="#"> About us </a>
          </div>
          <nav>
            <a href="#"> FQA</a>
            <a href="#">Tree</a>
            <a href="#">Sign In</a>
            <a href="#">Sign Up</a>
          </nav>
        </div>
      </header>

      <div class="section">
        <div class="container">
          <div class="content-section">
            <div class="title">
              <h1>About Us</h1>
            </div>
            <div class="content">
              <h3>Study source </h3>
              <p>guide computer science students to specify the recommended courses to be taken during their second year based on machine learning techniques
</p>
              <div class="button">

                  <summary>question </summary> <details>
                  <ol>
                    <li> Why do we need Study Source?</li>
                    <li>Take the abstract I sent to you as a reference.</li>


                  </ol></details>
                  <details> <ol>
                    <li> What is ABET?</li>
                    <li>Take the abstract I sent to you as a reference.</li>
                   </ol></details>
                  <details> <ol>
                    <li> What are the learning outcomes of Computer Science according to ABET? </li>
                    <li>Take the abstract I sent to you as a reference.</li>
                   </ol></details>
                   <details><ol>
                    <li> How Study Source works? take the abstract as a reference What is the curriculum (Tree) of Computer Science? </li>
                    <li>Take the abstract I sent to you as a reference.</li>
                   </ol></details>
                <details>
                   <ol>

                    <li> Github </li>
                    <li>Take the abstract I sent to you as a reference.</li>
                   </ol></details>
                  <details> <ol>
                    <li>  Contact us:</li>
                    <li>Our names and emails</li>
                   </ol>
                </details>
              </div>
            </div>
          </div>
          <div class="image-section">
            <img src="Planning your studies.jpg">
          </div>
        </div>
      </div>
    
    
      
    </div>
  </body>
</html>
