<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Navigation bar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'gradproj/style.css' %}" />
  </head>

  <body>
    <div class="box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="navbar.html">Study Source</a>
          </div>
          <nav>
            <a href="/questions/">Questionnaire</a>
            <a href="#">FAQ</a>
            <a href="/tree/">Tree</a>
            <a href="/sign-in/">Sign In</a>
            <a href="sign-up/">Sign Up</a>
          </nav>
        </div>
      </header>
      <div class="banner-area">
        <h2>Don't Wish it was easier<br />Wish you were better.</h2>
      </div>
      <div class="content-area">
        <div class="wrapper">
          <h2
            style="
              font-family: 'Source Sans Pro', sans-serif;
              color: rgb(0, 0, 0);
            "
          >
            About Study Source
          </h2>
          <p>
            This is project is used to help the students who were affected by
            the COVID situation and who are getting affected everyday by not
            studying
          </p>
          <a href="#">GMAIL</a>
          <a href="#">LINKEDIN</a>
          <a href="#">MOBILE</a>
        </div>
      </div>
    </div>
  </body>
</html>
