
<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'gradproj/signin.css' %}" />
    <title>Study Source</title>
  </head>

  <body>

<div >     </div>

    <div class="all">

      <div class="sign_up_form">
            <div style="margin-right:20px;">
          <a href="http://127.0.0.1:8000/"><img src="{% static 'gradproj/images/homelogo.png' %}" width="50px" height="32px" alt ="Home page" style="position: relative; top:9px; left:10px"></a>
        </div>
        <!-- <img src="usericon.png.jpeg" alt="User Icon" /> -->
          {% if not user.is_authenticated %}
        <h1>Sign In</h1>

        <form method="POST">
    {% csrf_token %}
          {% for field in login_form %}

          {{field}}
          {% endfor %}
<!--    {{ login_form }}-->
    <button class="signup_button" type="submit">Sign in</button>
  </form>

          <p>Do not have an account? <a href="http://127.0.0.1:8000/sign-up/">Sign up</a></p>
          {% else %}
            <p>You've successfully registered  <br> <a href="http://127.0.0.1:8000/">Home page</a></p>
          {% endif %}
<script>

    var elem = document.getElementById('id_username');
    elem.placeholder="College ID";
    elem.classList.add("input_box");
    var elem1 = document.getElementById('id_password');
    elem1.placeholder="password";
    elem1.classList.add("input_box");


</script>


      </div>
    </div>
 </body>
</html>
