<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'gradproj/signup.css' %}" />
    <title>Study Source</title>
  </head>
  <body>
    <div class="all">
      <div class="sign_up_form">
          <div style="margin-right:20px;">
          <a href="http://127.0.0.1:8000/"><img src="{% static 'gradproj/images/homelogo.png' %}" width="50px" height="32px" alt ="Home page" style="position: relative; top:9px; left:10px"></a>
        </div>
        <!-- <img src="usericon.png.jpeg" alt="User Icon" /> -->
        <h1>Sign Up Now</h1>


        <form method="POST">
		{% csrf_token %}

          {% for field in register_form %}
{{field}}

          {% endfor %}

		<button class="btn-primary" type="submit">Register</button>
	</form>
        <form>
        <p>
            <h3 style="color:red">{{error}}</h3>
            <span><input type="checkbox" /></span>I agree to the terms of
            services
          </p>
        </form>
      </div>

    </div>
  </body>
</html>
