<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <title>Navigation bar</title>
    <link rel="stylesheet" href="{% static 'gradproj/tree.css' %}">
  </head>
  <body>
   <div class="box-area">
      <header>
        <div class="wrapper">
          <div class="logo">
            <a href="navbar.html">Study Source</a>
          </div>
          <nav>
            <a href="question.html">Questionnaire</a>
            <a href="#">About us</a>
            <a href="tree.html">Tree</a>
            <a href="signin.html">Sign In</a>
            <a href="signup.html">Sign Up</a>
          </nav>
        </div>
      </header> 

     <div class="t">
      <div class="tree">
        <ul >
          <li >
            <a href="#">مقدمة في البرمجة</a>
            <ul>
              <li>
                <ul>
                  <li><a href="#"> برمجة كينونية 1</a>
                    <ul>
                      <li><a href="#">برمجة مرئية</a></li>
                      <li> <a href=""> تراكيب البيانات</a>
                      <ul>
                        <li><a href="">ذكاء الصطناعي</a></li>
                        <li><a href="">خوارزميات</a>
                        <ul>
                          <li><a href="">التنقيب عن البيانات </a></li>
                        </ul>
                        </li>
                        <li><a href=""> برمجة الوسائط المتعددة</a></li>
                        <li><a href="">الرسم بالحاسوب </a></li>
                        <li><a href="">أساليب المحاكاه</a></li>
                        <li><a href=""> مقدمة في نظم قواعد البيانات</a>
                        <ul>
                          <li><a href="">امن نظم المعلومات</a></li>
                          <li><a href="">تحليل و تصميم النظم</a></li>
                        </ul>
                        </li>
                      </ul>
                      </li>
                      <li><a href="#">اساسيات هندسة البرمجيات</a></li>
                      <li> <a href=""> برمجة كينونية 2</a>
                      <ul>
                        <li><a href=""> تطوير تطبيقات الأجهزة المحمولة </a></li>
                        <li><a href=""> تصميم و تنفيذ واجهة المستخدم </a></li>
                      </ul>
                      </li>
                      <li><a href="#"> برمجة تطبيقات الانترنت</a>
                      <ul>
                          <li><a href="">تصميم لغات برمجة</a></li>
                      </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
      </div>
    </div>
    
<br><br><br>
      <div class="tree">
        <ul>
          <li><a href="">رياضيات متقطعة</a>
          <ul>
            <li><a href="">نظريات الحسابات</a></li>
            <li><a href="">التصميم المنطقي الرقمي </a>
            <ul>
              <li><a href="">تصميم و تنظيم الحاسوب </a>
              <ul>
              <li><a href="">أساسيات معمارية الحاسوب </a></li>
              </ul>
              </li>
              <li><a href=""> نظم التشغيل</a></li>
              <li><a href="">شبكات الحاسوب</a>
              <ul>
                <li><a href="">الحوسبة المتوازية</a></li>
              <li><a href="">الشبكات اللاسلكية</a></li>
              <li><a href="">أمن الشبكات </a></li>
              <li><a href="">بروتوكولات الانترنت </a></li>
              </ul>
              </li>
            </ul>
            </li>
          </ul>
          </li>
        </ul>
      </div>



    
      </div>
    <div class="footer">
      </div>
    </div>
  </body>
</html>
