* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.wrapper {
  width: 95%;
  margin: 0 auto;
}

header {
  height: 60px;
  background: #9d28af;
  width: 100%;
  z-index: 12;
  position: fixed;
}
/* The Study Source logo design */
.logo {
  width: 30%;
  float: left;
  line-height: 60px;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: bignoodletitling;
  font: bold;
  color: #fff;
  letter-spacing: 5px;
}

.logo a:hover {
  color: black;
}
/* ------------------- */
/* The navigation bar desing */
nav {
  float: right;
  line-height: 60px;
}

nav a {
  text-decoration: none;
  font-family: bidnoodletitling;
  letter-spacing: 3px;
  font-size: 17px;
  margin: 0 15px;
  color: #fff;
  padding: 4px 0;
  transition: 0.3s;
}

nav a:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: rgb(255, 255, 255);
  transition: transform 1s;
  transform: scaleX(0);
  transform-origin: right;
}

nav a:hover::after {
  transition: transform 1s;
  transform: scaleX(1);
  transform-origin: left;
}

nav a:hover {
  color: rgb(0, 0, 0);
}


.space{

	margin-left: 12.5cm;
}


  .column {
	float: left;
	width: 25%;
	margin-bottom: 10px;
	padding: 0 8px;
	/*padding-left: 2cm;*/
  }

  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 5px;
  }

  .about-section {
    width: 50%;
	padding: 50px;
	text-align: center;
	background-color: #474e5d;
	color: white;
	margin-left: 7.5cm;
  }

  .container {
	padding: 0 10px;
  }

  .container::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }

  .center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }



   /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #9d28af;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: Gray;
}

/* Add a background color and some padding around the form */
.container- {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
