body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(images/back.jpg);
    background-size: cover;
    background-position: center 0px;
}

.sign_up_form
{
    
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    
    padding: 20px;
    
    text-align: center;
    
}

.all
{
    background: rgba(255, 255, 255, 0.644);
    width: 300px;
    margin: 10.5% auto 0;
    
    

}

.sign_up_form h1
{
    color: #A94DB8;
    margin-bottom: 30px;
}

.input_box
{
    border-radius: 20px;
    font-size: 12px;
    padding: 12px 0 10px 10px;
    margin: 10px -4px;
    width: 100%;
    border: 1px solid #A94DB8;
    outline: none;

}

button
{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup_button
{
    background-color: #A94DB8;
}

.signup_button:hover
{
    background-color: #81258f;
}

.gmailbutton
{
    background-color: rgb(182, 75, 54);
}

.gmailbutton:hover
{
    background-color: rgb(161, 63, 44);
}
.signup_button:active{
    background-color: rgb(85, 23, 94);
}
.gmailbutton:active
{
    background-color: rgb(99, 38, 25);
}
a
{
    text-decoration: none;
}

hr
{
    margin-top: 20px;
    width: 80%;
}

.or
{
    background: rgba(255, 255, 255, 0.822);
    width: 30px;
    margin: -19px auto 10px;
}
/*
img
{
    width: 70px;
    margin-top: -50px;
}
*/